.card-content {
	margin-bottom: 34px;

	.icon, p {
		display: inline-block;
		vertical-align: middle;	
	}

	.icon {
		max-width: 35px;	
	}

	p {
		max-width: calc(100% - 60px);
		font-size: 23.55px;
		line-height: 28.59px;
		letter-spacing: -0.001em;
		color: #534a3a;
		margin-left: 4px;
	}

	.card-img {
		margin-bottom: 18px;
		-webkit-transition: all .4s ease;
		-o-transition: all .4s ease;
		transition: all .4s ease;
	}

	&:hover {

		.card-img {
			-moz-transform: scaleX(-1);
		  -o-transform: scaleX(-1);
		  -webkit-transform: scaleX(-1);
		  transform: scaleX(-1);
		  filter: FlipH;
		}
	}
}

.card-load-more {

	.col-12 {
		padding-top: 300px;
		margin-top: -300px;
		background: rgba(252,235,201,0);
		background: -moz-linear-gradient(top, rgba(252,235,201,0) 0%, rgba(252,235,201,0.8) 22%, rgba(252,235,201,0.88) 36%, rgba(252,235,201,1) 55%, rgba(252,235,201,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,235,201,0)), color-stop(22%, rgba(252,235,201,0.8)), color-stop(36%, rgba(252,235,201,0.88)), color-stop(55%, rgba(252,235,201,1)), color-stop(100%, rgba(252,235,201,1)));
		background: -webkit-linear-gradient(top, rgba(252,235,201,0) 0%, rgba(252,235,201,0.8) 22%, rgba(252,235,201,0.88) 36%, rgba(252,235,201,1) 55%, rgba(252,235,201,1) 100%);
		background: -o-linear-gradient(top, rgba(252,235,201,0) 0%, rgba(252,235,201,0.8) 22%, rgba(252,235,201,0.88) 36%, rgba(252,235,201,1) 55%, rgba(252,235,201,1) 100%);
		background: -ms-linear-gradient(top, rgba(252,235,201,0) 0%, rgba(252,235,201,0.8) 22%, rgba(252,235,201,0.88) 36%, rgba(252,235,201,1) 55%, rgba(252,235,201,1) 100%);
		background: linear-gradient(to bottom, rgba(252,235,201,0) 0%, rgba(252,235,201,0.8) 22%, rgba(252,235,201,0.88) 36%, rgba(252,235,201,1) 55%, rgba(252,235,201,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcebc9', endColorstr='#fcebc9', GradientType=0 );
	}
}

#card-load-more-button {
	background: rgba(174,154,144,0.8);
	background: -moz-linear-gradient(-45deg, rgba(174,154,144,0.8) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(174,154,144,0.8)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(-45deg, rgba(174,154,144,0.8) 0%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(174,154,144,0.8) 0%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(174,154,144,0.8) 0%, rgba(0,0,0,1) 100%);
	background: linear-gradient(135deg, rgba(174,154,144,0.8) 0%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae9a90', endColorstr='#000000', GradientType=1 );
	padding: 5px;
	border-radius: 3px;

	.outer-border {
		background: rgba(101,72,64,1);
	  background: -moz-linear-gradient(-45deg, rgba(101,72,64,1) 0%, rgba(101,72,64,1) 31%, rgba(125,93,89,1) 100%);
		background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(101,72,64,1)), color-stop(31%, rgba(101,72,64,1)), color-stop(100%, rgba(125,93,89,1)));
		background: -webkit-linear-gradient(-45deg, rgba(101,72,64,1) 0%, rgba(101,72,64,1) 31%, rgba(125,93,89,1) 100%);
		background: -o-linear-gradient(-45deg, rgba(101,72,64,1) 0%, rgba(101,72,64,1) 31%, rgba(125,93,89,1) 100%);
		background: -ms-linear-gradient(-45deg, rgba(101,72,64,1) 0%, rgba(101,72,64,1) 31%, rgba(125,93,89,1) 100%);
		background: linear-gradient(135deg, rgba(101,72,64,1) 0%, rgba(101,72,64,1) 31%, rgba(125,93,89,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#654840', endColorstr='#7d5d59', GradientType=1 );
		padding: 5px;
		border-radius: 3px;
	}

	.inner-border {
		background: rgba(249,85,255,1);
		background: -moz-linear-gradient(-45deg, rgba(249,85,255,1) 0%, rgba(104,30,150,1) 100%);
		background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(249,85,255,1)), color-stop(100%, rgba(104,30,150,1)));
		background: -webkit-linear-gradient(-45deg, rgba(249,85,255,1) 0%, rgba(104,30,150,1) 100%);
		background: -o-linear-gradient(-45deg, rgba(249,85,255,1) 0%, rgba(104,30,150,1) 100%);
		background: -ms-linear-gradient(-45deg, rgba(249,85,255,1) 0%, rgba(104,30,150,1) 100%);
		background: linear-gradient(135deg, rgba(249,85,255,1) 0%, rgba(104,30,150,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f955ff', endColorstr='#681e96', GradientType=1 );
		padding: 5px;
		border-radius: 3px;
	}

	.btn {
		font-family: "Berkshire Swash", sans-serif;
		font-size: 36.74px;
		line-height: 39.04px;
		letter-spacing: -0.001em;
		color: #FFF;
		background: rgba(96,17,149,1);
		background: -moz-linear-gradient(left, rgba(96,17,149,1) 0%, rgba(188,34,199,1) 50%, rgba(98,17,149,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(96,17,149,1)), color-stop(50%, rgba(188,34,199,1)), color-stop(100%, rgba(98,17,149,1)));
		background: -webkit-linear-gradient(left, rgba(96,17,149,1) 0%, rgba(188,34,199,1) 50%, rgba(98,17,149,1) 100%);
		background: -o-linear-gradient(left, rgba(96,17,149,1) 0%, rgba(188,34,199,1) 50%, rgba(98,17,149,1) 100%);
		background: -ms-linear-gradient(left, rgba(96,17,149,1) 0%, rgba(188,34,199,1) 50%, rgba(98,17,149,1) 100%);
		background: linear-gradient(to right, rgba(96,17,149,1) 0%, rgba(188,34,199,1) 50%, rgba(98,17,149,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#601195', endColorstr='#621195', GradientType=1 );
		padding: 15px 25px;
		border-radius: 0;
	}

	i {
		margin-left: 5px;
		-webkit-animation:spin 1.5s linear infinite;
	  -moz-animation:spin 1.5s linear infinite;
	  animation:spin 1.5s linear infinite;	
	}
}

.card-desc {
	padding-top: 35px;
	padding-bottom: 136px;

	h3 {
		margin-bottom: 10px;	
	}

	p {
		font-size: 27.81px;
		line-height: 29.95px;
		letter-spacing: -0.001em;
		color: #534a3a;
		max-width: 87%;
		margin: 0 auto;
	}
}

@media (max-width: 991px) {
	.card-desc {
		padding-bottom: 80px;

		p {
			font-size: 22.81px;
			line-height: 24.95px;	
		}
	}
}

@media (max-width: 767px) {
	.card-content {
		margin-bottom: 5px;

		.card-img {
			margin-bottom: 5px;	
		}

		.icon {
			max-width: 14%;	
		}

		p {
			font-size: 14px;
			line-height: 17px;
			margin-left: 0;
		}
	}

	.card-load-more {

		.col-12 {
			max-width: 90%;
			margin-left: auto;
			margin-right: auto;
			padding-top: 150px;
			margin-top: -150px;
		}
	}

	#card-load-more-button {

		.btn {				
			font-size: 17.03px;
			line-height: 18.09px;
			padding: 10px 22px;
		}
	}

	.card-desc {
		padding-top: 20px;
		padding-bottom: 48px;

		p {
			font-size: 13px;
			line-height: 14px;
			max-width: unset;	
		}
	}
}