@font-face {
  font-family: "Roboto Regular";
  src: url("~@/assets/fonts/Roboto-Regular-V2.eot"), /* IE9*/
       url("~@/assets/fonts/Roboto-Regular-V2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("~@/assets/fonts/Roboto-Regular-V2.woff2") format("woff2"), /* chrome、firefox */
       url("~@/assets/fonts/Roboto-Regular-V2.woff") format("woff"), /* chrome、firefox */
       url("~@/assets/fonts/Roboto-Regular-V2.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
       url("~@/assets/fonts/Roboto-Regular-V2.svg#Roboto-Regular") format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "Roboto Bold";
  src: url("~@/assets/fonts/Roboto-Bold-V2.eot"), /* IE9*/
       url("~@/assets/fonts/Roboto-Bold-V2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("~@/assets/fonts/Roboto-Bold-V2.woff2") format("woff2"), /* chrome、firefox */
       url("~@/assets/fonts/Roboto-Bold-V2.woff") format("woff"), /* chrome、firefox */
       url("~@/assets/fonts/Roboto-Bold-V2.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
       url("~@/assets/fonts/Roboto-Bold-V2.svg#Roboto-Bold") format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "Berkshire Swash";
  src: url("~@/assets/fonts/Berkshire-Swash.eot"),
       url("~@/assets/fonts/Berkshire-Swash.eot?#iefix") format("embedded-opentype"),
       url("~@/assets/fonts/Berkshire-Swash.woff2") format("woff2"),
       url("~@/assets/fonts/Berkshire-Swash.woff") format("woff"),
       url("~@/assets/fonts/Berkshire-Swash.ttf") format("truetype"),
       url("~@/assets/fonts/Berkshire-Swash.svg#BerkshireSwash-Regular") format("svg");
}