.footer {
  background-size: cover;
  background-position: center center;

  img {
    margin-bottom: -82px;
    margin-top: -100px;  
  }

  .social-media {
    padding-left: 41px;

    p, a {
      display: inline-block;
      vertical-align: middle;    
    }

    p {
      font-size: 30.42px;
      line-height: 36.94px;
      letter-spacing: -0.001em;
      color: #fcebc9;
      margin-right: 35px;    
    }

    a {
      border: 3px solid #fcebc9;
      border-radius: 50%;
      width: 57px;
      height: 57px;
      position: relative;
      text-align: center;
      margin-right: 17px;    

      &:nth-last-child(1) {
        margin-right: 0;      
      }

      i {
        background-color: #fcebc9;
        border: 2px solid #382019;
        border-radius: 50%;
        color: #382019;
        width: 100%;
        height: 100%;
        font-size: 26px;
        line-height: 45px;
        -webkit-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
      }

      &:hover i {
        border-color: transparent;      
      }
    }
  }
}

@media (max-width: 1024px) {
  .footer {

    .social-media {

      p {
        font-size: 28.42px;
        margin-right: 25px;
      }

      a {
        width: 50px;
        height: 50px;
        margin-right: 10px;

        i {
          font-size: 20px;
          line-height: 38px;      
        }
      }
    }

    img {
      margin-bottom: -60px;  
    }
  }
}

@media (max-width: 991px) {
  .footer {

    img {
      margin-bottom: -45px;
      margin-top: -50px;
    }

    .social-media {
      padding-left: 0;
      text-align: center;  

      p {
        display: block;
        margin-right: 0;
        margin-bottom: 15px;    
      }
    }
  }
}

@media (max-width: 767px) {
  .footer {

    img {
      max-width: 52vw;
      margin-left: -50px;
      margin-top: -40px;
      margin-bottom: -3px;
    }

    .social-media {
      max-width: 180px;
      margin: 0 auto;

      p {
        font-size: 13px;
        line-height: 14px;
        margin-bottom: 8px;    
      }

      a {
        border-width: 1px;
        width: 34px;
        height: 34px;
        margin-left: 6px;
        margin-right: 6px !important;
        margin-bottom: 5px;    

        i {
          font-size: 16px;
          line-height: 27px;
        }
      }
    }
  }
}