@import 'fonts';
@import 'reset';

h1, h2, h3 {
	font-family: "Berkshire Swash", sans-serif;
	letter-spacing: -0.001em;
	color: #32170b;
}

h1 {
	font-size: 72.79px;
	line-height: 77.33px;
}

h2 {
	font-size: 62.13px;
	line-height: 66.01px;
}

h3 {
	font-size: 36.42px;
	line-height: 38.7px;
}

.btn {
  text-align:center;
  text-decoration:none;
  position:relative;
  overflow:hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index:0;
  cursor: pointer;
  border: none;
  box-shadow:rgba(0, 0, 0, 0.45) 0 4px 4px 0;
  -webkit-box-shadow:rgba(0, 0, 0, 0.45) 0 4px 4px 0;
  -moz-box-shadow:rgba(0, 0, 0, 0.45) 0 4px 4px 0;

  &:hover, &:focus {
    z-index: 99;
    box-shadow:rgba(0, 0, 0, 0.3) 1px 8px 8px 1px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.3) 1px 8px 8px 1px;
    -moz-box-shadow:rgba(0, 0, 0, 0.3) 1px 8px 8px 1px;
  }
}

.section-title {
  padding-top: 80px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: -1px;

  h2 {
    margin-bottom: 0;

    &::after {
      content: "";
      display: block;
      width: 90%;
      height: 2px;
      background-color: #b7b6b5;
      margin: 19px auto 0 auto;
      max-width: 1140px;
    }
  }

  p {
    font-size: 21.38px;
    line-height: 25.96px;
    letter-spacing: -0.001em;
    color: #534a3a;
    margin-bottom: 35px;
  }
}

.content {
  background-size: 100% auto;
  background-repeat: repeat-y;
  padding-top: 56px;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media (max-width: 1024px) {
  
}

@media (max-width: 991px) {
  
  .section-title {

    p {
      margin-bottom: 25px;
    }
  }

}

@media (max-width: 767px) {
  h1 {
    font-size: 39.35px;
    line-height: 41.8px;
  }

  h2 {
    font-size: 17.03px;
    line-height: 18.09px;
  }

  h3 {
    font-size: 17.03px;
    line-height: 18.09px;
  }

  .section-title {

    h2 {

      &:after {
        height: 1px;
        margin-top: 7px;
      }
    }
    
    p {
      font-size: 14px;
      line-height: 17px;
      max-width: 50%;
      margin-left: auto;
      margin: 0 auto 1.562vw auto;
    }
  } 

  .content {
    padding-top: 12px;
  }
}

@media (max-width: 425px) {

  .section-title {
    padding-top: 65px;
  }
  
}

@media (max-width: 375px) {

  .section-title {
    padding-top: 60px;
  }
  
}

@media (max-width: 320px) {

  .section-title {
    padding-top: 45px;
  }
  
}