nav {
	background-color: #32170b;

	.button-holder {
		align-items: center;	
	}

	.form-control, .btn {
		height: 34px;
		font-family: "Roboto Regular", sans-serif;
		font-size: 21.13px;
		line-height: 35.92px;
		letter-spacing: -0.001em;
	}

	.form-control {
		border-radius: 10px 0 0 10px;
		font-family: "Roboto Regular", sans-serif;
		max-width: 165px;
		padding-left: 40px;	
	}

	.btn {
		border-radius: 0 10px 10px 0;
		background-color: #ff7300;
		color: #FFF;
		line-height: 21px;
	}

	.search-button {
		position: absolute;
		margin-left: 11px;
		color: #606060;
		font-size: 24px;
		cursor: pointer;	
	}

	.nav-category {
		position: absolute;
		right: 0;
		top: 65px;
		min-width: 168px;
		background-size: cover;
		text-align: right;
		padding: 0 15px;
		opacity: 0;
		pointer-events: none;
		transition: all .2s ease;

		&.show {
			display: block;
			opacity: 1;
			pointer-events: all;
			z-index: 10;
		}

		ul {
			list-style-type: none;

			li {
				padding: 5px 10px 5px 0;
				border-bottom: 2px solid #3d3d3d;
				position: relative;

				&:nth-last-child(1) {
					border-bottom: none;
				}

				&::after {
					content: "•";
					color: #ff7300;
					position: absolute;
					top: 50%;
					right: 0;
					-webkit-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					transform: translateY(-50%);
				}

				a {
					font-size: 19.84px;
					line-height: 19.84px;
					letter-spacing: -0.001em;
					color: #FFF;
					-webkit-transition: all .2s ease-in;
					-o-transition: all .2s ease-in;
					transition: all .2s ease-in;

					&:hover {
						text-decoration: none;
						color: #ff7300;
					}
				}
			}
		}
	}
}

.navbar {
	.row {
		width: calc(100% + 15px);
	}

	.col-12 {
		padding: 0;	
	}
}

.subnav {
	background-color: #472210;

	.nav-item {
		min-width: 14.2%;

		.dropdown-toggle {
			font-family: "Roboto Regular", sans-serif;
			font-size: 26.05px;
			line-height: 44.29px;
			letter-spacing: -0.01em;
			color: #f1d9aa;
			text-align: center;
			cursor: pointer;
			position: relative;

			&::after {
				border: 1px solid #f1d9aa;
				border-width: 2px 2px 0 0;
				width: 12.5px;
				height: 12.5px;
				top: 60%;
				-webkit-transform: rotate(135deg);
				-ms-transform: rotate(135deg);
				-o-transform: rotate(135deg);
				transform: rotate(135deg);
				margin-left: 10px;
			}

			&:hover {
				color: #f1d9aa;
			}
		}

		.dropdown-menu {
			border-radius: 0;
			background-color: #472210;

			.dropdown-item {
				color: #f1d9aa;

				&::after {
					content: "";
					display: block;
					position: relative;
					width: 0;
					height: 2px;
					background-color: #f1d9aa;
					-webkit-transition: all .4s ease;
					-o-transition: all .4s ease;
					transition: all .4s ease;
				}

				&:hover {
					background-color: #472210;

					&::after {
						width: 100%;
					}
				}
			}
		}
	}
}

#floating-subnav {
	position: fixed;
	left: 0;
	z-index: 100;
	width: 100vw;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	top: -76px;

	&.visible {
		top: 0 !important;
	}
}

@media (max-width: 1024px) {
	
	.subnav {

		.nav-item {

			.dropdown-toggle {
				font-size: 21.29px;
				line-height: 32.29px;		

				&::after {
					width: 10px;
					height: 10px;			
				}
			}
		}
	}
}

@media (max-width: 991px) {

	.navbar {
		padding-left: 25px;
		padding-right: 15px;

		.col-12 {
			padding: 0 15px;
		}
	}

	.subnav {
		
		.nav-item {
			display: inline-block;
			vertical-align: middle;
			min-width: 15%;
		}

		.col-12 {
			overflow-x: scroll;		
		}

		.navbar-nav {
			min-width: 150%;
			flex-direction: row;				
		}

		.navbar-nav {

			.dropdown-menu {
				text-align: center;
			}
		}
	}
}

@media (max-width: 767px) {

	nav {

		.form-control, .btn {
			height: 15px;
			padding: 0;
			font-size: 9.44px;
			line-height: 12px;	
		}

		.form-control {
			width: 75px;
			padding-left: 21px;	
		}

		.btn {
			padding: 0px 10px 0px 3px;
		}

		.navbar-brand {

			img {
				max-width: 25vw;		
			}
		}

		.search-button {
			font-size: 10px;
			margin-left: 7px;
		}

		.nav-category {
			min-width: 110px;
			top: 35px;
			right: 15px;

			ul {

				li {
					border-width: 1px;
					padding: 3px 10px 3px 0;

					a {
						font-size: 13px;
						line-height: 16.05px;				
					}
				}
			}
		}	
	}

	.subnav {

		.nav-item {

			.dropdown-toggle {
				font-size: 13px;
				line-height: 22.1px;
				letter-spacing: -0.001em;

				&::after {
					width: 5px;
					height: 5px;
					margin-left: 5px;			
				}
			}
		}

		.navbar-nav {
			min-width: 580px;	
		}

		.dropdown-menu {
			min-width: unset;
			padding: 0;	

			.dropdown-item {
				font-size: 10px;		
			}
		}
	}
}

@media (max-width: 425px) {
	nav {

		.search-button {
			margin-top: -1px;
		}
	}
}