h1, h2, h3, h4, h5, h6, ul, li, blockquote, span, p {
	margin: 0;
	padding: 0;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #b2b2b2;
}

input::-moz-placeholder { /* Firefox 19+ */
	color: #b2b2b2;
}

input:-ms-input-placeholder { /* IE 10+ */
	color: #b2b2b2;
}

input:-moz-placeholder { /* Firefox 18- */
	color: #b2b2b2;
}

body, html {
	max-width: 100vw;
	overflow-x: hidden;
	font-family: "Roboto Regular", sans-serif;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

body {
	overflow-y: hidden;
}