<template>
	<div class="content">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6 col-xl-7 text-center">
          <img src="@/assets/card-big.png" alt="" class="img-fluid">
        </div>
        <div class="col-12 col-lg-6 col-xl-5">
          <div class="content-detail">
            <h1>Anomalus</h1>
            <div class="separator text-center">
              <img src="@/assets/circle-spike.png" alt="" class="img-fluid">
            </div>
            <p><span class="bld">Type: </span>Minion</p>
            <p><span class="bld">Class: </span>Mage</p>
            <p><span class="bld">Rarity: </span>Legendary</p>
            <p><span class="bld">Set: </span>Whispers of the Old Gods</p>
            <p><span class="bld">Race: </span>Elemental</p>
            <p><span class="bld">Crafting Cost: </span>1600 / 3200 (Golden)</p>
            <p><span class="bld">Arcane Dust Gained: </span>400 / 1600 (Golden)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .content {
    padding-top: 116px;
    padding-bottom: 160px;
    background-image: url("../assets/content-bg.png");
  }

  h1 {
    text-align: center;
  }

  .content-detail {
    text-align: center;
  }

  .separator {
    margin-top: 14px;
    margin-bottom: 24px;
    position: relative;

    &::before, &::after {
      content: "";
      display: block;
      height: 2px;
      background-color: #b4b4b4;
      position: absolute;
      width: 42.5%;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    &::after {
      right: 0;
    }

    img {
      margin-bottom: 0 !important;
      max-width: 57px;
    }
  }

  .content-detail {

    p {
      font-size: 23.64px;
      line-height: 33.77px;
      letter-spacing: -0.001em;
      color: #534a3a;

      .bld {
        font-family: "Roboto Bold", sans-serif;
        color: #32170b;    
      }
    }
  }

  @media only screen and (max-width: 991px) {
    .content {
      padding-top: 60px;
      padding-bottom: 100px;
    }
  }

  @media only screen and (max-width: 767px) {
    .content {
      padding: 40px 23px 80px 23px;

      img {
        margin-bottom: 22px;  
      }
    }

    .separator {
      margin-top: 7px;
      margin-bottom: 12px;

      &::before, &::after {
        height: 1px;
        width: 40.5%;  
      }

      img {
        max-width: 9vw;  
      }
    }

    .content-detail {

      p {
        text-align: left;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
</style>

<script>
	export default {
		name: "CardDetail"
	}
</script>