<template>
  <div class="home">
    <div class="jumbotron-container container-fluid">
      <div class="row">
        <div class="col-12">
          <img src="@/assets/homepage-banner.png" alt="" class="img-fluid jumbotron-img">
        </div>
        <div class="col-12">
          <div class="jumbotron-content text-center">
            <img src="@/assets/logo-tagline-big.png" alt="" class="img-fluid jumbotron-logo">
            <h1 class="d-none">HearthStone | Heroes of Warcraft</h1>
            <p class="d-none">Deceptively Simple. Insanely Fun.</p>
          </div>
          <div class="tilt-background text-center">
            <img src="@/assets/circle-spike.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    <div class="section-title text-center">
      <p>A fast-paced strategy card game for everyone.</p>
      <h2>Cards</h2>
    </div>

    <CardList />
    
  </div>
</template>

<style lang="scss" scoped>
	
	.jumbotron-container {
		position: relative;

		.tilt-background {
			background-size: 100% 100%;
			margin-left: -15px;
			margin-right: -15px;
			margin-top: -200px;
			min-height: 200px;
			position: relative;
			background-image: url(../assets/tilt-bg.png);

			img {
				position: absolute;
				bottom: -65px;
				left: 50%;
				margin-right: -50%;
				transform: translateX(-50%);
			}
		}
	}

	.jumbotron-img {
		margin: 0 -15px;
		min-width: calc(100% + 30px);
	}

	.jumbotron-content {
		position: absolute;
		left: 50%;
		margin-right: -50%;
		transform: translateX(-50%);
		z-index: 1;
		bottom: 110px;
	}

	.section-title {
		background-image: url(../assets/section-title-bg.png); 
	}

	.content {
		background-image: url("../assets/content-bg.png");
	}

	@media (max-width: 1024px) {
		.jumbotron-content {
			bottom: 75px;

			> img {
				max-width: 90%;	
			}

			.tilt-background {
				margin-top: -195px;	
			}
		}
	}

	@media (max-width: 991px) {
		.jumbotron-container {
			
			> img {
				max-width: 80%;
			}

			.tilt-background {
				margin-top: -95px;
				min-height: 100px;
			}
		}
	}

	@media (max-width: 767px) {
		.jumbotron-content {
			max-width: 70%;
		}

		.jumbotron-container {

			.tilt-background {
				min-height: 50px;
				margin-top: -49px;

				img {
					max-width: 25vw;
					bottom: -65px;
				}
			}
		}
	}

	@media (max-width: 425px) {
		.jumbotron-content {
			bottom: 50px;
		}

		.jumbotron-container {

			.tilt-background {

				img {
					bottom: -55px;
				}
			}
		}
	}

	@media (max-width: 375px) {
		.jumbotron-container {

			.tilt-background {

				img {
					bottom: -50px;
				}
			}
		}
	}

	@media (max-width: 320px) {
		.jumbotron-container {

			.tilt-background {

				img {
					bottom: -40px;
				}
			}
		}
	}
</style>

<script>
// @ is an alias to /src
import CardList from '@/components/CardList.vue'

export default {
  name: 'home',
  components: {
    CardList
  }
}
</script>
