<template>
	<section id="card" class="content">
    <div class="container">
      <div class="row card-list">
        <div class="col-6 col-md-4 text-center card-content" v-for="(card, index) in cards" :key="index">
					<router-link to="/card-detail">
            <img alt="" :src="require('@/assets/' + card.imageURL)" class="img-fluid card-img">
            <!-- <img src="@/assets/card.png" alt="" class="img-fluid card-img"> -->
            <img src="@/assets/circle-spike.png" alt="" class="icon">
            <p>{{ card.name }}</p>
					</router-link>
        </div>
      </div>
      <!-- Load More -->
      <div class="row card-load-more">
        <div class="col-12 text-center">
          <div id="card-load-more-button" class="d-inline-block">
            <div class="outer-border d-inline-block">
              <div class="inner-border d-inline-block">
                <button v-if="!loading" class="btn" @click="loadMore()">More Cards</button>
                <button v-else-if="loading" class="btn">Loading <i class="fas fa-spinner"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row card-desc">
        <div class="col-10 offset-1 text-center">
          <h3>Play Your Way</h3>
          <p>Find your perfect match in casual, ranked, and arena games, participate incrazy Tavern Brawls, or practice against devious AI opponents and hone your skills in Hearthstone’s adventure mode.</p>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
	@import '@/assets/style/card-list.scss';
</style>

<script>
	export default {
		name: 'CardList',
		data: function() {
			return {
				cards: [
					{
						id: '1',
						name: 'Anomalus',
						imageURL: "card.png"
					},
					{
						id: '2',
						name: 'Anomalus',
						imageURL: "card.png"
					},
					{
						id: '3',
						name: 'Anomalus',
						imageURL: "card.png"
					},
					{
						id: '4',
						name: 'Anomalus',
						imageURL: "card.png"
					},
					{
						id: '5',
						name: 'Anomalus',
						imageURL: "card.png"
					},
					{
						id: '6',
						name: 'Anomalus',
						imageURL: "card.png"
					},
					{
						id: '7',
						name: 'Anomalus',
						imageURL: "card.png"
					},
					{
						id: '8',
						name: 'Anomalus',
						imageURL: "card.png"
					},
					{
						id: '9',
						name: 'Anomalus',
						imageURL: "card.png"
					},
					{
						id: '10',
						name: 'Anomalus',
						imageURL: "card.png"
					},
					{
						id: '11',
						name: 'Anomalus',
						imageURL: "card.png"
					},
					{
						id: '12',
						name: 'Anomalus',
						imageURL: "card.png"
					}
				],
				loading: false
			}
		},
		methods: {
			loadMore: function() {
				this.loading = true

				//put your loading request here

				//after loading data is done, then use this code
				/*this.load = false*/
			}
		}
	}
</script>