<template>
	<footer class="footer">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-4">
          <img src="@/assets/circle-spike-big.png" alt="" class="img-fluid">
        </div>
        <div class="col-8">
          <div class="social-media">
            <p>Stay Connected</p>
            <a href="" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="" target="_blank">
              <i class="fab fa-google-plus-g"></i>
            </a>
            <a href="" target="_blank">
              <i class="fab fa-reddit-alien"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<style lang="scss" scoped>
  @import '@/assets/style/footer.scss';

  .footer {
    background-image: url(../assets/footer-bg.jpg);
  }
</style>

<script>
	export default {
		name: 'Footer'
	}
</script>