<template>
	<div>
		<nav class="navbar navbar-expand-lg">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="d-flex">
              <router-link to="/" class="navbar-brand">
                <img src="@/assets/logo.png" alt="" class="img-fluid">
              </router-link>

              <form id="form-search" class="form-inline my-0 ml-auto">
                <input class="form-control" type="search" placeholder="search" aria-label="Search" v-model="searchInput" required>
                <button id="submit-search" type="submit" class="d-none"></button>
                <i class="fas fa-search search-button" @click="this.search"></i>
              </form>
              <div class="d-flex button-holder">
                <button id="btn-category" class="btn" @click="this.toggleCategory">category</button>
                <div id="nav-category" class="nav-category">
                  <ul>
                    <li><a href="#">card sets</a></li>
                    <li><a href="#">guide</a></li>
                    <li><a href="#">adventure</a></li>
                    <li><a href="#">forum</a></li>
                    <li><a href="#">news</a></li>
                    <li><a href="#">heroes</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="navbar subnav navbar-expand-lg">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Game Guides
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Card Sets
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Community
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  News
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Fireside Gatherings
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Esports
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="floating-subnav" class="subnav navbar navbar-expand-lg">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Game Guides
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Card Sets
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Community
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  News
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Fireside Gatherings
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Esports
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                  <li>
                    <a href="#" class="dropdown-item">Menu 1</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
	</div>
</template>

<style lang="scss" scoped>
	@import '@/assets/style/nav.scss';

	nav {

		.nav-category {
			background-image: url(../assets/category-bg.jpg);
		}
	}
</style>

<script>
	export default{
		name: 'Navbar',
		data: function() {
			return {
				categoryVisible: false,
        searchInput: null
			}
		},
		methods: {
			toggleCategory: function() {
				var navCategory = document.getElementById('nav-category')

				if(navCategory.classList.contains("show")) {
					navCategory.classList.remove("show")
				} else {
					navCategory.classList.add("show")
				}
			},
      search: function() {
        document.getElementById('submit-search').click()
        if(this.searchInput != null && this.searchInput != undefined && this.searchInput != '') {
          document.getElementById('form-search').submit()
        }
      }
		}
	}

</script>