<template>
  <div id="app">
    <div id="nav">
      <Navbar />
      <transition name="slide-fade" mode="out-in">
        <router-view/>
      </transition>
      <Footer />
    </div>
  </div>
</template>

<style lang="scss">

</style>

<style lang="scss">
@import "~bootstrap/scss/bootstrap.scss";
@import '@/assets/style/main.scss';
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
</style>

<script>
  import Navbar from '@/components/Navbar.vue'
  import Footer from '@/components/Footer.vue'

  export default {
    components: {
      Navbar,
      Footer
    }
  }
</script>
